<!-- NavBar -->
<nav class="navbar navbar-expand-lg customnav">
  <a class="navbar-brand"><i class="fa fa-users"></i> Customer Manager</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon "></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Customers <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Orders Myihdsfbs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About component</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login Component</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <h4 class="pl-4" style="margin-top: 1em; ">
    <i class="fa fa-user"></i> Customers
  </h4>
  <div class="customer-container pl-5">
    <div class="row">
      <div class="col col-lg-8 ">
        <h6>
          <i class="fa fa-align-justify" aria-hidden="true"></i> Card View
        </h6>
        <h6><i class="fa fa-th-list" aria-hidden="true"></i> List View</h6>
        <h6><i class="fa fa-map-marker" aria-hidden="true"></i> Map View</h6>
        <h6><i class="fa fa-plus" aria-hidden="true"></i> New Customer</h6>
      </div>
      <div class="col col-lg-4">
        <h6>Filter</h6>
        <input [(ngModel)]="myFilter" type="text" />
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="row card-row">
      <div
        class="col-lg-3 col-md-4 col-sm-6 columl"
        *ngFor="
          let user of users
            | async
            | filter: myFilter
            | paginate: { itemsPerPage: 8, currentPage: page }
        "
      >
        <div class="card">
          <div class="card-header">
            <h6>
              <span
                [innerHTML]="user.name | highlight: myFter"
                sdfsdfdsf
              ></span><span
              [innerHTML]="user.name | highlight: myFter"
              sdfsdfdsf
            ></span>
            </h6>
            <div class="icon">
              <i class="fa fa-external-link"></i>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-avatar">
              <i class="fa fa-female" aria-hidden="true"></i>
            </h5>

            <p class="card-text">
              <span [innerHTML]="user.address.street | higight: myFilter"></span
              ><a>View Orders</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="has-text-centered">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
