
    nav {
        background-color: rgb(38, 0, 255) !important;
        color: white;

        a {
            text-decoration: none;
            color: white;
            font-size: 0.8em;  
        }   
    }

    .container-fluid{
        
            .row{
                .col-lg-8{
                    display: flex;
                    padding: .5em;
                    h6{
                        margin-right: 1.4em;    
                    }
                }
                .col-lg-4{
                    justify-content: center;
                    align-content: center;
    
                }
            }
        }

    

        .card-container{
            .card-row{
                padding: 2em;

                .columl{
                    min-width: 12em;
                    width: 100%;
                    padding: 1em;
                    margin-top: 1em;
                    .card{

                    
                        .card-header{
                              background-color: blue;
                            color: white;
                            font-size: 1.5em;
                            display: flex;
                            justify-content: space-between;
                             .icon{
                                font-size: 18px;
                                display: flex;
                            }
                        }
                        .card-body{
                            display: flex;
                            max-height: 15vh;
                            
                            
                            align-items: center;
        
                            .card-avatar i{
                                font-size: 2em;
                            }
                            .card-text{
                                text-align: left;
                                font-size: 0.9em;
                                padding: 0.5em;
                                margin-left: 0.6em;
                                display: grid;
                                a{
                                    color: blue;
                                }
                            }
        
        
                        }
                        
                        }
                    }
                }
            

         }
    
   




@media screen   and (max-width: 560px){
    .card{
        margin: 0 auto;
    }
}